@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    min-width: 375px;
}
button {
    border: none;
    outline: none;
}
h1 {
    text-align: center;
}